<div class="c-content-wrap">
    <div class="c-search-wrap">
        <div class="c-search-group">
            <!-- 注册日期 -->
            <div class="c-search-item">
                <div class="c-search-itemLeft">
                    {{ "orderModule.order.basicInfo.registerDate" | translate}}:
                </div>
                <div class="c-search-itemRight">
                    <nz-date-picker [(ngModel)]="searchModel.registerTimeStart"></nz-date-picker>
                    <span style="color:#999"> ~ </span>
                    <nz-date-picker [(ngModel)]="searchModel.registerTimeEnd"></nz-date-picker>
                </div>
            </div>
            <!-- h5注册 -->
            <div class="c-search-item">
                <div class="c-search-itemLeft">
                    {{ "usrModule.list.table.h5register" | translate}}:
                </div>
                <div class="c-search-itemRight" style="margin-right: 20px">
                    <input nz-input type="text" [(ngModel)] = 'searchModel.channelId' [placeholder]='"usrModule.list.table.h5registerPlacerholder" | translate'>
                </div>
            </div>
            <!-- 邀请码 -->
            <div class="c-search-item">
                <div class="c-search-itemLeft">
                    {{ "usrModule.list.table.inviteCode" | translate}}:
                </div>
                <div class="c-search-itemRight" style="margin-right: 20px">
                    <input nz-input type="text" [(ngModel)] = 'searchModel.invitationCode' [placeholder]='"usrModule.list.table.inviteCodePlacerholder" | translate'>
                </div>
            </div>

        </div>
        <div class="c-search-group">
            <!-- id -->
            <div class="c-search-item">
                    <div class="c-search-itemLeft">
                        {{ "usrModule.list.table.userId" | translate}}:
                    </div>
                    <div class="c-search-itemRight" style="margin-right: 20px">
                        <input nz-input type="text" [(ngModel)] = 'searchModel.id' [placeholder]='"usrModule.list.prompt.userId" | translate'>
                    </div>
                </div>
            <!-- 邀请码 -->
            <!-- <div class="c-search-item">
                <div class="c-search-itemLeft">
                    {{ "usrModule.list.table.userId" | translate}}:
                </div>
                <div class="c-search-itemRight" style="margin-right: 20px">
                    <input nz-input type="text" [(ngModel)] = 'searchModel.id' >
                </div>
            </div> -->
            <!-- 手机号 -->
            <div class="c-search-item">
                <div class="c-search-itemLeft">
                    {{ "usrModule.list.table.mobile" | translate}}:
                </div>
                <div class="c-search-itemRight" style="margin-right: 20px">
                    <input nz-input type="text" [(ngModel)] = 'searchModel.phoneNumber' [placeholder]='"usrModule.list.prompt.mobile" | translate'>
                </div>
            </div>
            <!-- 邮箱 -->
            <!-- <div class="c-search-item">
                <div class="c-search-itemLeft">
                    {{ "usrModule.list.table.email" | translate}}:
                </div>
                <div class="c-search-itemRight" style="margin-right: 20px">
                    <input nz-input type="text" [(ngModel)] = 'searchModel.email' >
                </div>
            </div> -->
            <!-- idNumber -->
            <!-- <div class="c-search-item">
                <div class="c-search-itemLeft">
                    {{ "usrModule.list.table.idCard" | translate}}:
                </div>
                <div class="c-search-itemRight" style="margin-right: 20px">
                    <input nz-input type="text" [(ngModel)] = 'searchModel.idNumber' >
                </div>
            </div> -->
            <!-- CPF -->
            <!--<div class="c-search-item">-->
                <!--<div class="c-search-itemLeft">-->
                    <!--{{ "usrModule.list.table.CPF" | translate}}:-->
                <!--</div>-->
                <!--<div class="c-search-itemRight" style="margin-right: 20px">-->
                    <!--<input nz-input type="text" [(ngModel)] = 'searchModel.cpf' [placeholder]='"usrModule.list.prompt.CPF" | translate'>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="c-search-group">
            <button nz-button nzType="primary"  (click) = 'search()' style="margin-right:20px;">
                {{ "common.search" | translate}}
            </button>
            <button nz-button nzType="default"  (click) = 'reset() '>
                {{ "common.reset" | translate}}
            </button>
        </div>
    </div>

    <c-table [tableData] = 'tableData'>
    </c-table>
    <div class="c-pag">
        <nz-pagination [nzShowTotal]="totalTemplate" (nzPageIndexChange)='pageChange($event , "page")' (nzPageSizeChange) = 'pageChange($event , "size")' [nzPageIndex]="searchModel.currentPage"  [nzTotal]="totalSize" nzShowSizeChanger nzShowQuickJumper></nz-pagination>
        <ng-template #totalTemplate let-total>
            <span>
                {{ "common.total" | translate }}
            </span>
            <span>
                {{ totalSize }}
            </span>
            <span>
                {{ "common.pageUnit" | translate }}
            </span>
        </ng-template>
    </div>
</div>
